---
import CopyButton from "./CopyButton.svelte";

type Props = {
  url?: string | URL;
};

const { url = `${Astro.url.protocol}//${Astro.url.host}` } = Astro.props;

const sshKey = await (await fetch(`${url}/hvtssh.pub`)).text();
---

<div class="w-full max-w-full py-4 inline-flex items-center">
  <code
    class="block font-mono w-full overflow-x-scroll px-4 py-2 rounded bg-zinc-200 dark:bg-zinc-700 whitespace-nowrap"
  >
    {sshKey}
  </code>
  <CopyButton toCopy={sshKey} client:load />
</div>
