---
import "@fontsource/ibm-plex-sans";
import "@fontsource/ibm-plex-serif";
import "@fontsource-variable/jetbrains-mono";

export interface Props {
  title: string | undefined;
  description: string | undefined;
}

const { title = "henrik's website", description = "henrik's portfolio website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href={"/favicon.ico"} />
    <link rel="preconnect" href="https://github.com" />
    <link rel="prefetch" href="https://github.com/henrikvtcodes.png" />
    <link rel="canonical" href={Astro.url} />
    {/** FACEBOOK / OPENGRAPH */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={"/mountain-sunrise.jpg"} />
    {/* TWITTER */}
    <meta property="twitter:card" content={"summary"} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={"/mountain-sunrise.jpg"} />
    <!-- <meta property="twitter:site" content={DefaultProps.twitter?.site} /> -->

    <script is:inline defer={true} data-url="/api/event" src="/event/script" id="stonks"></script>
  </head>
  <body class={`w-screen bg-zinc-100 dark:bg-zinc-900 text-black dark:text-white`}>
    <style is:global>
      :root {
        @apply font-sans;
      }

      /* Default styles for external links */
      p > a[target="_blank"] {
        @apply text-blue-500 visited:text-purple-500 dark:text-blue-300 dark:visited:text-purple-300;
      }

      .cool-text-gradient {
        background-clip: text;
        color: transparent;
        @apply bg-gradient-to-r bg-clip-text text-transparent;
        @apply from-orange-400 via-purple-400 to-blue-400;
        animation: gradient-animation 5s ease 0s infinite;
      }
      /* 
      @keyframes gradient-animation {
        0% {
          @apply from-orange-400 via-purple-400 to-blue-400;
        }
        50% {
          @apply from-blue-400 via-orange-400 to-purple-400;
        }
        100% {
          @apply from-purple-400 via-blue-400 to-orange-400;
        }
      } */
    </style>
    <slot />
  </body>
</html>
